@font-face {
    font-family: 'lato';
    src: url('/assets/Lato/Lato-Regular.ttf') format('.ttf');
	font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lato';
    src: url('/assets/Lato/Lato-Bold.ttf') format('.ttf');
	font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'lato';
    src: url('/assets/Lato/Lato-Italic.ttf') format('.ttf');
	font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'lato';
    src: url('/assets/Lato/Lato-BoldItalic.ttf') format('.ttf');
	font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'lato';
    src: url('/assets/Lato/Lato-Light.ttf') format('.ttf');
	font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'lato';
    src: url('/assets/Lato/Lato-LightItalic.ttf') format('.ttf');
	font-weight: lighter;
    font-style: italic;
}

$fontFamily: 'lato';

$primaryColor: #2a324b;
$secondaryColor: #8e92a4;
$semiWhite: #f2f3f8;
$bgColor: #f6f3ef; 

$kthmaApostolouPrimaryColor: #f6f3ef;

$yellow: #f4da9d;
$pink: #f3c0cb;
$blueGreen: #d1e0dd;

$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 1100px, xl: 1250px, xxl: 1400px );

@function spacing($x: 1){
	@return $x *1rem;
}


@mixin media-break-up($name, $breakpoints: $grid-breakpoints) {
	$min: map-get($breakpoints, $name);
	@media (min-width: $min) { @content; }
}

@mixin media-break-down($name, $breakpoints: $grid-breakpoints) {
	$max: map-get($breakpoints, $name);
	@media (max-width: $max) { @content; }
}


body, html{
	height: 100%;
	margin: 0;
	background-color: $bgColor;
	font-family: $fontFamily;
	color: $primaryColor;
	scroll-behavior: smooth;

	::-moz-selection {
		color: $bgColor;
		background: $primaryColor;
	  }
	  
	  ::selection {
		color: $bgColor;
		background: $primaryColor;
	  }
}
.mobileOnly{
	display: block;
	@include media-break-up(lg){
		display: none;
	}
}
.desktopOnly{
	display: none;
	@include media-break-up(lg){
		display: block;
	}
}
.header{
	@include media-break-up(md){
		position: fixed;
	}
	top: 0;
	left: 0;
	z-index: 3;
	background-color: $bgColor;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-around;
	
	.hambuger{
		display: none;
		@include media-break-up(md){
			display: flex;
			flex: 1 1 0;
			align-items: center;
			justify-content: center;
		}
		svg {
			fill: $primaryColor;
			width: 1.5rem;
			height: 1.5rem;
		}
	}
	.selection{
		display: none;
		
		@include media-break-up(md){
			display: flex;
			flex: 1 1 0;
			align-items: center;
			justify-content: center;
			& > span {
				margin: 0 spacing();
			}
	}
	}
	.logo-column{

		display: flex;
		flex:1 1 0;
		align-items: center;
		justify-content: center;
	}
	.logo{
		position: relative;
		width: 5rem;
		height: 5rem;
	}
	.img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.firstPage{
	position: relative;
	height: 100%;
	width: 100%;

	.bigHeroImage{
		height: 100%;
		width: 100%;
		@include media-break-up(md){
			height: 100%; 
		}
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		filter: invert(20%);
		.alt-image {
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
		}
	}

	.textArea{
		position: absolute;
		width: 100%;
		padding: spacing() 0;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		color: $kthmaApostolouPrimaryColor;
		@include media-break-up(md){
			transform: translate(-50%, -50%);
			padding: 0;
			bottom: 1rem;
		}
		.title{
			font-size: 3rem;
			margin-bottom: spacing();
			@include media-break-up(md){
				font-size: 5rem;
				margin: 0;
			}
			text-transform: uppercase;
			font-weight: 600;
		}
		.subTitle{
			font-size: 1.5rem;
			margin-bottom: spacing();
			@include media-break-up(md){
				margin: 0;
				font-size: 3rem;
			}
			font-weight: 300;
			padding-bottom: spacing();
		}
		.btn{
			margin-top: spacing();
			background-color: $kthmaApostolouPrimaryColor;
			color: $primaryColor;
			padding: spacing(1.5) spacing(1.5);
			border: none;
			margin-bottom: spacing(2);
			cursor: pointer;
		}
		@include media-break-up(lg){
			.btn:hover{
				background-color: $primaryColor;
				color: $bgColor;
				transition: background-color 1s;
			}
		}
		.imgCntText{
			position: relative;
			height: 17rem;
			width: 14.62rem;
			margin-right: auto;
			margin-left: auto;
			text-align: center;
			.img{
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
			}
		}
	}

	.socialMediaColumn{
		display: none;
		@include media-break-up(lg){
			z-index: 2;
			position: absolute;
			display: flex;
			flex-direction: column;
			top: 50%;
			right: 5rem;
			row-gap: spacing();
		}
	}
	.socialMediaIcon{
		& >svg{
			width: 2rem;
			height: 2rem;
			fill: $kthmaApostolouPrimaryColor;
		}

		@include media-break-up(lg){
			& > svg:hover{
				fill: $primaryColor;
				transition: fill 1s;
			}
		}

	}

	.carouselDots{
			z-index: 2;
			position: absolute;
			display: flex;
			flex-direction: row;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 0);
			@include media-break-up(md){
			flex-direction: column;
			top: 50%;
			left: 5rem;
			row-gap: spacing();
			}
		.carouselDot{
			width: 10px;
			height: 10px;
			background: inherit;
			display: inline-block;
			margin: 4px;
			cursor: pointer;
			border-radius: 50%;
			border: 1px solid $kthmaApostolouPrimaryColor;
		}
		.carouselDot:hover{
			background: $kthmaApostolouPrimaryColor;
		}
	}
}

.secondPagestitle{
	text-align: center;
	font-size: 2rem;
	@include media-break-up(md){
		font-size: 3rem;
	}
	font-weight: 400;
	margin-bottom: spacing(2);
}

.kthma{
	width: 100%;
	padding: spacing(2) 0;
	position: relative;
	
	.description{
		font-size: 1.3rem;
		width: 95%;
		@include media-break-up(md){
			width: 50%;
		}
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
}
.productPage{
	width: 100%;
	padding-top: spacing(2);
	@include media-break-up(md){
		padding: spacing(2) 0 ;
	}
	position: relative;

	.gridList{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		@include media-break-up(md){
			width: 60%;
			column-gap: spacing();
		}
		margin-left: auto;
		margin-right: auto;
	
		justify-content: center;
		row-gap: spacing();
		.product{
			display: flex;
			flex-direction: column;
			row-gap: spacing();
			@include media-break-down(sm){
				flex: 1 0 100%;
			}
			
			.imgCnt{
				position: relative;
				width: 100%;
				padding-top: 100%;
				margin-left: auto;
				margin-right: auto;
				@include media-break-up(md){
					width: 20rem;
					padding-top: 100%;
				}
				 .productImage{
					 position: absolute;
					 top: 0;
					 left: 0;
					 width: 100%;
					 height: 100%;
				 }
			}

			.name{
				text-transform: uppercase;
				font-size: 1rem;
				font-weight: 500;
				text-align: center;
				padding: spacing(0.2) spacing() spacing() spacing();
			}
		}
	}
}




.footer{
	background: $bgColor;
	width: 100%;
	text-align: center;
	@include media-break-up(md){
		text-align: unset;
	}
	.row{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		row-gap: spacing();
		@include media-break-up(md){
		flex-direction: row;
		}
		width: 100%;
		justify-content: space-around;
		padding: spacing() 0;
		column-gap: spacing(2);	display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		row-gap: spacing();
		@include media-break-up(md){
		flex-direction: row;
		}
		border-bottom: 0.5px solid $secondaryColor;
	}

	.menu{
		display: flex;
		justify-content: center;
		flex-direction: column;
		flex: 1 1 0;
		align-items: center;

		& > a{
			text-decoration: none;
			color: unset;
			font-size: 1rem;
			margin-bottom: spacing(0.5);
		}
	
	}
	.contacts{
		display: flex;
		flex: 1 1 0;
		align-items: center;
		flex-direction: column;
		&>a{
			text-decoration: none;
			font-size: 1rem;
			color: unset;
			@include media-break-up(md){
				font-size: 1.5rem;
			}
			margin-bottom: spacing(0.5);
		}
	}
	.staySocial{
		display: flex;
		flex-direction: column;
		flex: 1 1 0;
		align-items: center;
		.socialMediaIconsFooter{
			display: flex;
			flex-direction: row;
			justify-content: center;
			@include media-break-up(md){
				justify-content: unset;
			}
			.socialMediaIconFooter{
				margin: 0 spacing(0.2);

				svg{
					width: 1.5rem;
					height: 1.5rem;
					fill: $primaryColor;
				}
			}
		}
		
	}
	.title{
		font-size: 1.5rem;
		text-transform: uppercase;
		margin-bottom: spacing();
		font-weight: 500;
	}
	.secondFooter{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-around;
		row-gap: spacing();
		@include media-break-up(md){
		flex-direction: row;
		}
		width: 100%;
		text-align: center;
		padding: spacing() 0;
		.imgCol{
			display: flex;
			flex: 1 1 0;
			align-items: center;
			justify-content: center;
		}
		.imgCntFooter{
			margin-left: auto;
			margin-right: auto;
			position: relative;
			width: 1.72rem;
			height: 2rem;
			.img{
				mix-blend-mode: darken;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		.copyright{
			justify-content: center;
			display: flex;
			align-self: center;
			text-align: center;
			flex: 1 1 0;
			align-items: center;
		}
		
	}
}

