@font-face {
  font-family: "lato";
  src: url("/assets/Lato/Lato-Regular.ttf") format(".ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "lato";
  src: url("/assets/Lato/Lato-Bold.ttf") format(".ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "lato";
  src: url("/assets/Lato/Lato-Italic.ttf") format(".ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "lato";
  src: url("/assets/Lato/Lato-BoldItalic.ttf") format(".ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "lato";
  src: url("/assets/Lato/Lato-Light.ttf") format(".ttf");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "lato";
  src: url("/assets/Lato/Lato-LightItalic.ttf") format(".ttf");
  font-weight: lighter;
  font-style: italic;
}
body, html {
  height: 100%;
  margin: 0;
  background-color: #f6f3ef;
  font-family: "lato";
  color: #2a324b;
  scroll-behavior: smooth;
}
body ::-moz-selection, html ::-moz-selection {
  color: #f6f3ef;
  background: #2a324b;
}
body ::selection, html ::selection {
  color: #f6f3ef;
  background: #2a324b;
}

.mobileOnly {
  display: block;
}
@media (min-width: 1100px) {
  .mobileOnly {
    display: none;
  }
}

.desktopOnly {
  display: none;
}
@media (min-width: 1100px) {
  .desktopOnly {
    display: block;
  }
}

.header {
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #f6f3ef;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}
@media (min-width: 768px) {
  .header {
    position: fixed;
  }
}
.header .hambuger {
  display: none;
}
@media (min-width: 768px) {
  .header .hambuger {
    display: flex;
    flex: 1 1 0;
    align-items: center;
    justify-content: center;
  }
}
.header .hambuger svg {
  fill: #2a324b;
  width: 1.5rem;
  height: 1.5rem;
}
.header .selection {
  display: none;
}
@media (min-width: 768px) {
  .header .selection {
    display: flex;
    flex: 1 1 0;
    align-items: center;
    justify-content: center;
  }
  .header .selection > span {
    margin: 0 1rem;
  }
}
.header .logo-column {
  display: flex;
  flex: 1 1 0;
  align-items: center;
  justify-content: center;
}
.header .logo {
  position: relative;
  width: 5rem;
  height: 5rem;
}
.header .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.firstPage {
  position: relative;
  height: 100%;
  width: 100%;
}
.firstPage .bigHeroImage {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: invert(20%);
}
@media (min-width: 768px) {
  .firstPage .bigHeroImage {
    height: 100%;
  }
}
.firstPage .bigHeroImage .alt-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.firstPage .textArea {
  position: absolute;
  width: 100%;
  padding: 1rem 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #f6f3ef;
}
@media (min-width: 768px) {
  .firstPage .textArea {
    transform: translate(-50%, -50%);
    padding: 0;
    bottom: 1rem;
  }
}
.firstPage .textArea .title {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}
@media (min-width: 768px) {
  .firstPage .textArea .title {
    font-size: 5rem;
    margin: 0;
  }
}
.firstPage .textArea .subTitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 300;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .firstPage .textArea .subTitle {
    margin: 0;
    font-size: 3rem;
  }
}
.firstPage .textArea .btn {
  margin-top: 1rem;
  background-color: #f6f3ef;
  color: #2a324b;
  padding: 1.5rem 1.5rem;
  border: none;
  margin-bottom: 2rem;
  cursor: pointer;
}
@media (min-width: 1100px) {
  .firstPage .textArea .btn:hover {
    background-color: #2a324b;
    color: #f6f3ef;
    transition: background-color 1s;
  }
}
.firstPage .textArea .imgCntText {
  position: relative;
  height: 17rem;
  width: 14.62rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.firstPage .textArea .imgCntText .img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.firstPage .socialMediaColumn {
  display: none;
}
@media (min-width: 1100px) {
  .firstPage .socialMediaColumn {
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    right: 5rem;
    row-gap: 1rem;
  }
}
.firstPage .socialMediaIcon > svg {
  width: 2rem;
  height: 2rem;
  fill: #f6f3ef;
}
@media (min-width: 1100px) {
  .firstPage .socialMediaIcon > svg:hover {
    fill: #2a324b;
    transition: fill 1s;
  }
}
.firstPage .carouselDots {
  z-index: 2;
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
@media (min-width: 768px) {
  .firstPage .carouselDots {
    flex-direction: column;
    top: 50%;
    left: 5rem;
    row-gap: 1rem;
  }
}
.firstPage .carouselDots .carouselDot {
  width: 10px;
  height: 10px;
  background: inherit;
  display: inline-block;
  margin: 4px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #f6f3ef;
}
.firstPage .carouselDots .carouselDot:hover {
  background: #f6f3ef;
}

.secondPagestitle {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .secondPagestitle {
    font-size: 3rem;
  }
}

.kthma {
  width: 100%;
  padding: 2rem 0;
  position: relative;
}
.kthma .description {
  font-size: 1.3rem;
  width: 95%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .kthma .description {
    width: 50%;
  }
}

.productPage {
  width: 100%;
  padding-top: 2rem;
  position: relative;
}
@media (min-width: 768px) {
  .productPage {
    padding: 2rem 0;
  }
}
.productPage .gridList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  row-gap: 1rem;
}
@media (min-width: 768px) {
  .productPage .gridList {
    width: 60%;
    column-gap: 1rem;
  }
}
.productPage .gridList .product {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
@media (max-width: 576px) {
  .productPage .gridList .product {
    flex: 1 0 100%;
  }
}
.productPage .gridList .product .imgCnt {
  position: relative;
  width: 100%;
  padding-top: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .productPage .gridList .product .imgCnt {
    width: 20rem;
    padding-top: 100%;
  }
}
.productPage .gridList .product .imgCnt .productImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.productPage .gridList .product .name {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  padding: 0.2rem 1rem 1rem 1rem;
}

.footer {
  background: #f6f3ef;
  width: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  .footer {
    text-align: unset;
  }
}
.footer .row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 1rem;
  width: 100%;
  justify-content: space-around;
  padding: 1rem 0;
  column-gap: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 1rem;
  border-bottom: 0.5px solid #8e92a4;
}
@media (min-width: 768px) {
  .footer .row {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .footer .row {
    flex-direction: row;
  }
}
.footer .menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1 1 0;
  align-items: center;
}
.footer .menu > a {
  text-decoration: none;
  color: unset;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.footer .contacts {
  display: flex;
  flex: 1 1 0;
  align-items: center;
  flex-direction: column;
}
.footer .contacts > a {
  text-decoration: none;
  font-size: 1rem;
  color: unset;
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .footer .contacts > a {
    font-size: 1.5rem;
  }
}
.footer .staySocial {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  align-items: center;
}
.footer .staySocial .socialMediaIconsFooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (min-width: 768px) {
  .footer .staySocial .socialMediaIconsFooter {
    justify-content: unset;
  }
}
.footer .staySocial .socialMediaIconsFooter .socialMediaIconFooter {
  margin: 0 0.2rem;
}
.footer .staySocial .socialMediaIconsFooter .socialMediaIconFooter svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: #2a324b;
}
.footer .title {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 500;
}
.footer .secondFooter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 1rem;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}
@media (min-width: 768px) {
  .footer .secondFooter {
    flex-direction: row;
  }
}
.footer .secondFooter .imgCol {
  display: flex;
  flex: 1 1 0;
  align-items: center;
  justify-content: center;
}
.footer .secondFooter .imgCntFooter {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 1.72rem;
  height: 2rem;
}
.footer .secondFooter .imgCntFooter .img {
  mix-blend-mode: darken;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.footer .secondFooter .copyright {
  justify-content: center;
  display: flex;
  align-self: center;
  text-align: center;
  flex: 1 1 0;
  align-items: center;
}

/*# sourceMappingURL=index.css.map */
